
<div class="principal">

<article class="LinhaHeader">
   
    <header class="cabeça">
        
            <header class="titulo">Artigo: Rússia fornecerá 25 milhões de doses da vacina contra covid-19 ao Egito!</header>
     
        </header>
</article>


<article class="conteudo">

    <div class="container">
        <div class="corpo"> LA Rússia fornecerá ao Egito 25 milhões de doses de sua vacina contra a Covid-19, Sputnik V, depois que o Fundo Russo de Investimento Direto (FIDR) chegou a um acordo com o grupo farmacêutico Pharco. O acordo permitirá que 25% da população egípcia tenha acesso à vacina russa, disse o fundo soberano da Rússia em um comunicado.</div>

    No futuro acontecerá a distribuição do Sputnik V, que é baseado em adenovírus humanos, aos países vizinhos do Egito, acrescentou o FIDR. No início deste mês, a Rússia iniciou os testes pós-registro da vacina, que se tornaram oficiais em 11 de agosto, e até agora recrutou cerca de 55 mil voluntários. As fases I e II já foram concluídas sem grandes efeitos adversos e com uma resposta imunitária estável em 100% dos participantes, segundo o FIDR. Os primeiros resultados dos testes de fase III devem ser publicados entre os meses de outubro e novembro. O FIDR já havia fechado um acordo para fornecer 32 milhões de doses da vacina ao México, até 50 milhões de doses ao Brasil, 100 milhões.
<br>
    <div class="conteudo">
        <IMG class="displayed" src="https://conteudo.imguol.com.br/c/noticias/c5/2020/09/24/o-presidente-da-russia-vladimir-putin-durante-a-75-assembleia-geral-da-onu-em-22-de-setembro-de-2020-1600964495984_v2_450x450.jpg" width=200 height=200>
    </div>
    
    </div>
 
</article>

    <footer [ngClass]="obterClassesRodape()">
        Angular. 2020. Google Inc.
    </footer>

</div>